<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <link rel='stylesheet' type='text/css' media='only screen and (min-width: 530px) and (min-devide-width: 481px)' href='/stylesheets/wide.css' />
    <link rel='stylesheet' type='text/css' media='only screen and (max-width: 480px)' href='/stylesheets/smartphone.css' />
    <link rel="shortcut icon" href="http://www.saferinternet.org/image/image_gallery?uuid=b243b830-e3fd-49b9-ad2c-43b2ff073db8&groupId=10137&t=1359909134797" type="image/x-icon">
  </head>
  <body>
    <div id="page-wrap">
      <header class="main" id="h1">
        <h2>Quiz<span>: el juego de las preguntas</span></h2>
      </header>
      <nav class="main" id="n1" role="navigation">
        <span><a href="/">Inicio</a></span>
        <span><a href="/quizes/question">Preguntas</a></span>
        <span><a href="/author">Author</a></span>
      </nav>
      <section class="main" id="s1">
        <div><%- body %></div>
      </section>
      <footer class="main" id="f1">
          <a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a>
          <a href="https://github.com/clara-jr/quiz-2015-claravero">Github</a>
      </footer>
    </div>
  </body>
</html>
