body {
  background: #333;
}

#page-wrapper:after {
  content: "Smartphone Layout";
}

h2 span, section h3 {
  display: none;
}

body {
  font-size: xx-large;
}

footer, input {
  font-size: large;
}

img.foto {
  width: 100%;
}

.quiz_img {
  float: none:
}