body {
  background: #999;
}

#page-wrapper:after {
  content: "Wide Layout";
}

nav {
  float: left;
  width: 15%;
  height: 200px;
}

nav span {
  margin: 0px 100px 0px 0px;
  display: inline-block;
}

section {
  float: right;
  width: 80%;
  height: 200px;
}

footer {
  clear: both;
  display: block;
}

img.foto {
  height: 130px;
  width: auto;
}