<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <link rel='stylesheet' type='text/css' media='only screen and (min-width: 530px) and (min-devide-width: 481px)' href='/stylesheets/wide.css' />
    <link rel='stylesheet' type='text/css' media='only screen and (max-width: 480px)' href='/stylesheets/smartphone.css' />
    <link rel="shortcut icon" href="http://www.saferinternet.org/image/image_gallery?uuid=b243b830-e3fd-49b9-ad2c-43b2ff073db8&groupId=10137&t=1359909134797" type="image/x-icon">
  </head>
  <body>
    <h2>Login</h2>

    <form method='POST' action='/login'>

      <div class="field">
        <label for="login">Login:</label><br />
        <input type="text" id="login" name="login" size="30" />
      </div>

      <div class="field">
        <label for="password">Password:</label><br />
        <input type="password" id="password" name="password" size="30" />
      </div>

      <div class="actions">
        <input name="commit" type="submit" value="Login" />
      </div>

    </form>
  </body>
</html>
